body{background-color:lightgray; padding:  0 0 0 0}
p{text-align: center; font-weight: bold;font-size: 50px;  }
span{color: orange;}
form{display:block;text-align: center;}
#form1{display: block; color: white;}

#container{
    width: 200px;
    height:200px;
    position: relative;
    background:white;
    
    
}
#animate{
    width:20px;
    height: 20px;
    position: absolute;
    background-color: black;
}